<a href="https://colab.research.google.com/github/linhvien/Stock-analysis/blob/main/Vietnamese_stock_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import libraries

In [9]:
from bs4 import BeautifulSoup as bs
import requests

import re
import json
import csv
from io import StringIO
from datetime import datetime, timedelta
import time

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Overview

In [35]:
start_date = '2019-01-01'
end_date = str(datetime.now().strftime('%Y-%m-%d'))
stock = 'VIC'
portfolio = []
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36'}

#Financial data
Loading quarterly financial data of Vietnamese stocks from api vndirect.

In [11]:
class Financialdata:
  url_BS = 'https://finfo-api.vndirect.com.vn/v3/stocks/financialStatement?secCodes={}&reportTypes=QUARTER&modelTypes=1,89,101,411&fromDate={}&toDate={}'
  url_IS = 'https://finfo-api.vndirect.com.vn/v3/stocks/financialStatement?secCodes={}&reportTypes=QUARTER&modelTypes=2,90,102,412&fromDate={}&toDate={}'
  url_CF = 'https://finfo-api.vndirect.com.vn/v3/stocks/financialStatement?secCodes={}&reportTypes=QUARTER&modelTypes=3,91,103,413&fromDate={}&toDate={}'
  url_ratio = 'https://finfo-api.vndirect.com.vn/v4/ratios?q=code:{}~itemCode:53030,52005,51050,53021,52001,52002,54018,712010,712020,712030,712040~reportDate:{}'
  
  def __init__(self,stock,start_date,end_date,*arg, **karg):
    self.stock = stock
    self.start_date = start_date
    self.end_date = end_date
    self.session = requests.Session()

# Get balance sheet
  def get_BS(self):
    try:
      page = self.session.get(self.url_BS.format(self.stock,self.start_date,self.end_date), headers=headers)
      data = page.json()

      data_dates = {}
      for item in data['data']['hits']:
        item = item['_source']
        date = item['fiscalDate']
        itemName = item['itemName']
        numericValue = item['numericValue']
        if date not in data_dates:
          data_dates[date] = [[], []]
        else:
          if itemName not in data_dates[date][0]:
            data_dates[date][0].append(itemName)
            data_dates[date][1].append(numericValue)

      for i, (date, item) in enumerate(data_dates.items()):
        df_date = pd.DataFrame(data={'index':item[0], date[:7]:item[1]})
        if i == 0:
          df = df_date
        else:
          df = pd.merge(df, df_date, how='inner')
      df.set_index('index', inplace=True)
    except:
      pass
    return df

# get income statement
  def get_IS(self):
    try:
      page = self.session.get(self.url_IS.format(self.stock,self.start_date,self.end_date), headers=headers)
      data = page.json()

      data_dates = {}
      for item in data['data']['hits']:
        item = item['_source']
        date = item['fiscalDate']
        itemName = item['itemName']
        numericValue = item['numericValue']
        if date not in data_dates:
          data_dates[date] = [[], []]
        else:
          if itemName not in data_dates[date][0]:
            data_dates[date][0].append(itemName)
            data_dates[date][1].append(numericValue)

      for i, (date, item) in enumerate(data_dates.items()):
        df_date = pd.DataFrame(data={'index':item[0], date[:7]:item[1]})
        if i == 0:
          df = df_date
        else:
          df = pd.merge(df, df_date, how='inner')
      df.set_index('index', inplace=True)
    except:
      pass
    return df

# get cashflow statement
  def get_CF(self):
    try:
      page = self.session.get(self.url_CF.format(self.stock,self.start_date,self.end_date), headers=headers)
      data = page.json()

      data_dates = {}
      for item in data['data']['hits']:
        item = item['_source']
        date = item['fiscalDate']
        itemName = item['itemName']
        numericValue = item['numericValue']
        if date not in data_dates:
          data_dates[date] = [[], []]
        else:
          if itemName not in data_dates[date][0]:
            data_dates[date][0].append(itemName)
            data_dates[date][1].append(numericValue)

      for i, (date, item) in enumerate(data_dates.items()):
        df_date = pd.DataFrame(data={'index':item[0], date[:7]:item[1]})
        if i == 0:
          df = df_date
        else:
          df = pd.merge(df, df_date, how='inner')
      df.set_index('index', inplace=True)
    except:
      pass
    return df

In [12]:
BS_data = Financialdata(stock,start_date,end_date).get_BS()
BS_data.to_excel(r'BS_{}.xlsx'.format(stock),index=True)
BS_data.head()

                                            2021-06  ...        2019-03
index                                                ...
Tiền và các khoản tương đương tiền    1663036014269  ...  1209154406312
Tiền                                  1261476873446  ...  1029154406312
Các khoản tương đương tiền             401559140823  ...   180000000000
Các khoản đầu tư tài chính ngắn hạn  19971222710510  ...  9666846652579
Đầu tư ngắn hạn                          1129553032  ...   443154995292

[5 rows x 10 columns]

In [13]:
IS_data = Financialdata(stock,start_date,end_date).get_IS()
IS_data.to_excel(r'IS_{}.xlsx'.format(stock),index=True)
IS_data.head()

                                      2021-06  ...         2019-03
index                                          ...
Các khoản giảm trừ doanh thu      12980283496  ...     40784427090
Doanh thu thuần                15715806166465  ...  13189300287807
Giá vốn hàng bán                8861448981220  ...   7034297778254
Lợi nhuận gộp                   6854357185245  ...   6155002509553
Doanh thu hoạt động tài chính    292767071141  ...    176287359587

[5 rows x 10 columns]

In [14]:
CF_data = Financialdata(stock,start_date,end_date).get_CF()
CF_data.to_excel(r'CF_{}.xlsx'.format(stock),index=True)
CF_data.head()

                                                         2021-06  ...       2019-03
index                                                             ...
Chi phí khấu hao tài sản cố định                    547756789868  ...  472348259477
Phân bổ lợi thế thương mại                           61385028806  ...   16987979595
Dự phòng giảm giá các khoản đầu tư ngắn hạn, dà...   -3508982145  ...    5001735507
Lãi, lỗ chênh lệch tỷ giá hối đoái chưa thực hiện    -3585620065  ...   -1204432181
Lãi/(lỗ) từ thanh lý tài sản cố định                 16223729056  ...   13753677997

[5 rows x 10 columns]

#Full stock and industry

In [18]:
# Get industry list from vietstock
r = requests.get('https://finance.vietstock.vn/chi-so-nganh.htm',headers=headers)
soup = bs(r.content)
def Getsectorname():
  sectors = soup.select('a[href^="/nganh"]')
  all_sector = []
  for i in sectors:
    sector_name = i.get('title')
    if sector_name not in all_sector:
      all_sector.append(sector_name)
  return all_sector

In [19]:
Getsectorname()

['Bán buôn',
 'Bảo hiểm',
 'Bất động sản',
 'Chứng khoán',
 'Công nghệ và thông tin',
 'Bán lẻ',
 'Chăm sóc sức khỏe',
 'Khai khoáng',
 'Ngân hàng',
 'Nông - Lâm - Ngư',
 'SX Thiết bị, máy móc',
 'SX Hàng gia dụng',
 'Sản phẩm cao su',
 'SX Nhựa - Hóa chất',
 'Thực phẩm - Đồ uống',
 'Chế biến Thủy sản',
 'Vật liệu xây dựng',
 'Tiện ích',
 'Vận tải - kho bãi',
 'Xây dựng',
 'Dịch vụ lưu trú, ăn uống, giải trí',
 'SX Phụ trợ',
 'Thiết bị điện',
 'Dịch vụ tư vấn, hỗ trợ',
 'Tài chính khác']

In [20]:
def GetURL():
    sectors = soup.select('a[href^="/nganh"]')
    all_sector_URL = []
    for sector in sectors:
        sector_ID = sector.get('href')
        sector_URL = 'https://finance.vietstock.vn' + sector_ID
        if sector_URL not in all_sector_URL:
            all_sector_URL.append(sector_URL)
    return all_sector_URL

In [21]:
url = GetURL()
url

['https://finance.vietstock.vn/nganh/1-ban-buon.htm',
 'https://finance.vietstock.vn/nganh/2-bao-hiem.htm',
 'https://finance.vietstock.vn/nganh/3-bat-dong-san.htm',
 'https://finance.vietstock.vn/nganh/5-chung-khoan.htm',
 'https://finance.vietstock.vn/nganh/6-cong-nghe-va-thong-tin.htm',
 'https://finance.vietstock.vn/nganh/7-ban-le.htm',
 'https://finance.vietstock.vn/nganh/8-cham-soc-suc-khoe.htm',
 'https://finance.vietstock.vn/nganh/10-khai-khoang.htm',
 'https://finance.vietstock.vn/nganh/11-ngan-hang.htm',
 'https://finance.vietstock.vn/nganh/12-nong-lam-ngu.htm',
 'https://finance.vietstock.vn/nganh/15-sx-thiet-bi-may-moc.htm',
 'https://finance.vietstock.vn/nganh/16-sx-hang-gia-dung.htm',
 'https://finance.vietstock.vn/nganh/17-san-pham-cao-su.htm',
 'https://finance.vietstock.vn/nganh/18-sx-nhua-hoa-chat.htm',
 'https://finance.vietstock.vn/nganh/19-thuc-pham-do-uong.htm',
 'https://finance.vietstock.vn/nganh/20-che-bien-thuy-san.htm',
 'https://finance.vietstock.vn/nganh/21-vat-lieu-xay-dung.htm',
 'https://finance.vietstock.vn/nganh/22-tien-ich.htm',
 'https://finance.vietstock.vn/nganh/23-van-tai-kho-bai.htm',
 'https://finance.vietstock.vn/nganh/24-xay-dung.htm',
 'https://finance.vietstock.vn/nganh/25-dich-vu-luu-tru-an-uong-giai-tri.htm',
 'https://finance.vietstock.vn/nganh/26-sx-phu-tro.htm',
 'https://finance.vietstock.vn/nganh/27-thiet-bi-dien.htm',
 'https://finance.vietstock.vn/nganh/28-dich-vu-tu-van-ho-tro.htm',
 'https://finance.vietstock.vn/nganh/29-tai-chinh-khac.htm']

In [22]:
#Get full stocks along with industry
full_stock =[]
for i in url:
  industry = pd.read_html(requests.get(i,headers=headers).text)
  industry = pd.DataFrame(industry[1])
  full_stock.append(industry)
symbols = pd.concat(full_stock, axis=0, ignore_index=True)
symbols = symbols.drop(columns=['STT','Sàn','Giá 1 ngày'])
symbols.tail()

    Mã CK  ... Giá 5 ngày
735   VCM  ...      15200
736   VLA  ...      17000
737   VNC  ...      33000
738   OGC  ...       7270
739   TVC  ...      18000

[5 rows x 4 columns]

#Real-time price
Get real time price for stock

In [ ]:
def getrealtimeprice(stock):
  r = requests.get('https://finance.vietstock.vn/{}/thong-ke-giao-dich.htm'.format(stock),headers=headers)
  soup = bs(r.content)
  price = soup.select('h2#stockprice span')[0].text
  price = price.replace(',', '')
  return int(price)

#Financial ratio analysis
Create function to calculate financial ratio for stock list

In [56]:
stocklist=[] 
def FinRatio(stocklist):
  FinRatio = {}
  for company in stocklist:
    BS = Financialdata(company,start_date,end_date).get_BS()
    IS = Financialdata(company,start_date,end_date).get_IS()
    CF = Financialdata(company,start_date,end_date).get_CF()
    price = getrealtimeprice(company)
    KLCPLH = int(symbols.loc[symbols['Mã CK'] == company, 'KLCPLH'].to_string(index=False).strip())
    market_cap = KLCPLH * price

    FinRatio[company] = {}
    FinRatio[company]['PE'] = market_cap/(IS.loc['Lợi nhuận sau thuế thu nhập doanh nghiệp'][0:3].sum())
    FinRatio[company]['ROE'] = IS.loc['Doanh thu thuần'].mean()/BS.loc['Vốn chủ sở hữu'].mean()
    FinRatio[company]['ROA'] = IS.loc['Doanh thu thuần'].mean()/BS.loc['TỔNG CỘNG TÀI SẢN'].mean()
    FinRatio[company]['EPS'] = IS.loc['Lãi cơ bản trên cổ phiếu'][0:3].sum()

  df = pd.DataFrame.from_dict(FinRatio,orient='index')
  return df

In [46]:
KLCPLH = int(symbols.loc[symbols['Mã CK'] == 'VIC', 'KLCPLH'].to_string(index=False).strip())
EPS = (IS_data.loc['Lợi nhuận sau thuế thu nhập doanh nghiệp'][2]
                +IS_data.loc['Lợi nhuận sau thuế thu nhập doanh nghiệp'][3]
                +IS_data.loc['Lợi nhuận sau thuế thu nhập doanh nghiệp'][4]
                +IS_data.loc['Lợi nhuận sau thuế thu nhập doanh nghiệp'][5])/KLCPLH
EPS

2952.719583845694

#Portfolio analysis

In [62]:
portfolio = ['VNM','VIC']
df = FinRatio(portfolio)

In [63]:
df['ROE']

VNM    0.461767
VIC    0.251776
Name: ROE, dtype: float64

##Peers analysis

In [41]:
# Get stock list in the same sector with selected stock
industry = symbols.loc[symbols['Mã CK'] == stock, 'Ngành cấp 3'].to_string(index=False).strip()
stocklist = symbols['Mã CK'].loc[symbols['Ngành cấp 3'] == industry].tolist()

# Compare ratios between stocks in the same sector
FinRatio(stocklist)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: RuntimeWarning: divide by zero encountered in long_scalars
  app.launch_new_instance()

     Trailing PE          PE       ROE       ROA    EPS
AGG     8.384057    7.879522  0.154683  0.038605   5093
API    25.153374   25.132131  0.256394  0.051639   1630
BCE     9.532374    9.024393  0.318050  0.120149   1390
CDC    15.976009   17.288353  0.378840  0.118297    917
CEO          inf  -15.791325  0.187452  0.078589      0
CIG          inf   -8.384013  0.012321  0.003753      0
CKG     9.128225   13.654407  0.398821  0.063262   2558
D11     6.363636    5.082247  0.581124  0.104398   3960
D2D          inf    6.840233  0.160793  0.062652      0
DIG          inf   18.382997  0.139612  0.063821      0
DTA    84.597156   84.528061  0.066206  0.024466    211
DXG    11.117613    7.881316  0.170060  0.072803   1709
EVG    40.282686   56.548137  0.215572  0.171413    283
FIR    31.411863   34.877702  0.156897  0.102416   1197
FLC          inf    2.524138  0.330863  0.106510      0
HDC          inf   20.445490  0.213315  0.087539      0
HDG          inf    9.229206  0.306486  0.081273      0
HLD    10.615650   10.617112  0.150407  0.092757   3476
HPX    51.939292   23.874877  0.177014  0.075599    593
HQC          inf  385.979610  0.031681  0.020008      0
HU1    36.454849   35.044096  0.781915  0.112503    299
HUT    -8.185654   -8.466441  0.074882  0.021722  -1185
ICG          inf   14.109890  0.056818  0.047150      0
IJC     7.651642    8.776309  0.265679  0.079821   3594
ITC     7.715281    8.965377  0.096901  0.042173   2009
KDH    20.369458   21.146007  0.120450  0.072317   2030
L14          inf   45.241059  0.126136  0.093049      0
NBB     7.411921    6.210558  0.217373  0.085250   4513
NDN          inf    3.817607  0.145259  0.051840      0
NHA          inf   37.254097  0.157154  0.139558      0
NLG    10.491300   13.109779  0.079119  0.041735   3908
NTL     6.355511    6.354814  0.150728  0.098417   5035
NVL    25.190652   31.963948  0.082189  0.020932   4065
PDR    24.041916   27.097839  0.174100  0.059174   3340
PXI          inf   -2.947170  0.192068  0.084803      0
QCG    53.255814   27.901029  0.077018  0.030377    129
RCL          inf   14.041157  0.108257  0.043565      0
SCR          inf   15.432534  0.065664  0.028237      0
SJS   135.761589   90.355979  0.099514  0.031878    453
TCH    25.571429    7.549963  0.117156  0.081575    700
TDC    11.717861    9.804691  0.318330  0.064200   1758
VC3    78.742515   79.898079  0.083108  0.041300    334
VC7    94.505495   97.265160  0.121182  0.065396    182
VHM     7.683238   10.087525  0.218696  0.085804  10178
VIC   180.882353   73.529054  0.251776  0.080582    476
VPH    73.564356   74.053457  0.053044  0.027627    101
VPI    16.956346   24.673095  0.222885  0.067570   2474

# Historical data

In [25]:
def convert_date(text, date_type = '%Y-%m-%d'):
  return datetime.strptime(text, date_type)
  
def convert_text_dateformat(text, origin_type = '%Y-%m-%d', new_type = '%Y-%m-%d'):
  return convert_date(text, origin_type).strftime(new_type)

def split_change_col(text):
    return re.sub(r'[\(|\)%]', '', text).strip().split()

class DataLoadProto():
    def __init__(self, symbols, start, end, *arg, **karg):
        self.symbols = symbols
        self.start = convert_text_dateformat(start, new_type = '%d/%m/%Y')
        self.end = convert_text_dateformat(end, new_type = '%d/%m/%Y')

class DataLoaderCAFE(DataLoadProto):
    def __init__(self, symbols, start, end, *arg, **karg):
        self.symbols = symbols
        self.start = start
        self.end = end
        super(DataLoaderCAFE, self).__init__(symbols, start, end)

    def download(self):
        stock_datas = []
        if not isinstance(self.symbols, list):
            symbols = [self.symbols]
        else:
            symbols = self.symbols

        for symbol in symbols:
            stock_datas.append(self.download_one(symbol))

        data = pd.concat(stock_datas, axis=1)
        return data

    def download_one(self, symbol):
        stock_data = pd.DataFrame(columns=['date', 'change_perc1', 'change_perc2',
                                           'open', 'high', 'low', 'close',
                                           'avg', 'volume_match', 'volume_reconcile'])

        for i in range(1000):
            stock_slice_batch = self.download_batch(i + 1, symbol)
            stock_data = pd.concat([stock_data, stock_slice_batch], axis=0)
            try:
                date_end_batch = stock_slice_batch.date.values[-1]
            except:
                # start date is holiday or weekend
                break
            is_touch_end = convert_date(self.start, '%d/%m/%Y') == convert_date(date_end_batch, '%d/%m/%Y')
            # logging.info('batch: {}; start date out range: {}; date_end_batch: {}'.format(i + 1, is_touch_end, date_end_batch))
            if is_touch_end:
                break

        stock_data['change_perc1'], stock_data['change_perc2'] = stock_data['change_perc'].apply(split_change_col).str
        if 'change_perc' in stock_data.columns:
            stock_data.pop('change_perc')
        if 'avg' in stock_data.columns:
            stock_data.pop('avg')
            stock_data = stock_data.set_index('date').apply(pd.to_numeric, errors='coerce')
            stock_data.index = list(map(lambda text: convert_date(text, date_type='%d/%m/%Y'), stock_data.index))
            stock_data.index.name = 'date'
            stock_data = stock_data.sort_index()
            stock_data.fillna(0, inplace=True)
            stock_data['volume'] = stock_data.volume_match + stock_data.volume_reconcile

        # Create multiple columns
        iterables = [stock_data.columns.tolist(), [symbol]]
        mulindex = pd.MultiIndex.from_product(iterables, names=['Attributes', 'Symbols'])
        stock_data.columns = mulindex


        logging.info('data {} from {} to {} have already cloned!' \
                     .format(symbol,
                             convert_text_dateformat(self.start, origin_type = '%d/%m/%Y', new_type = '%Y-%m-%d'),
                             convert_text_dateformat(self.end, origin_type='%d/%m/%Y', new_type='%Y-%m-%d')))

        return stock_data

    def download_batch(self, id_batch, symbol):
        form_data = {'ctl00$ContentPlaceHolder1$scriptmanager':'ctl00$ContentPlaceHolder1$ctl03$panelAjax|ctl00$ContentPlaceHolder1$ctl03$pager2',
                       'ctl00$ContentPlaceHolder1$ctl03$txtKeyword':symbol,
                       'ctl00$ContentPlaceHolder1$ctl03$dpkTradeDate1$txtDatePicker':self.start,
                       'ctl00$ContentPlaceHolder1$ctl03$dpkTradeDate2$txtDatePicker':self.end,
                       '__EVENTTARGET':'ctl00$ContentPlaceHolder1$ctl03$pager2',
                       '__EVENTARGUMENT':id_batch,
                       '__ASYNCPOST':'true'}
        url = URL_CAFE+symbol+"-1.chn"
        r = requests.post(url, data = form_data, headers = headers, verify=False)
        soup = BeautifulSoup(r.content, 'html.parser')
        print(id_batch)
        table = soup.find('table')
        stock_slice_batch = pd.read_html(str(table))[0].iloc[2:, :12]

        stock_slice_batch.columns = ['date', 'adjust', 'close', 'change_perc', 'avg',
                        'volume_match', 'value_match', 'volume_reconcile', 'value_reconcile',
                        'open', 'high', 'low']

        return stock_slice_batch